<!-- 
<% if @available_flights.present? %>

  <% @available_flights.each do |flight| %>
    <%= 'Flight Available: ' %>
    <%= flight.from_airport_id %>
    <%= "------" %>
    <%= flight.to_airport_id %>
  <% end %>
  <% else %>
    <%= 'No Available Flights' %>
<% end %>
-->

<% if @available_flights.present? %>

<h1 class="title">
  Results
</h1>

<%= simple_form_for(:booking, method: :get, url: new_booking_path) do |f| %>
  <% @available_flights.each do |flight| %>  
    <%= f.label flight.from_airport_id %>
    <%= f.text_field flight.from_airport_id %>
    <% f.hidden_field :number_of_passengers, value: params[:flight_search][:passengers] %>
    <%= f.button :submit, 'Continue to Booking' %>
  <% end %>
<% end %>
  <% else %>
    <%= 'No Available Flights' %>
<% end %>