<!-- 
<% if @available_flights.present? %>

  <% @available_flights.each do |flight| %>
    <%= 'Flight Available: ' %>
    <%= flight.from_airport_id %>
    <%= "------" %>
    <%= flight.to_airport_id %>
  <% end %>
  <% else %>
    <%= 'No Available Flights' %>
<% end %>
-->

<% if @available_flights.present? %>

<h1 class="title">
  Results
</h1>

<%= simple_form_for(:booking, method: :get, url: new_booking_path) do |f| %>
  <% @available_flights.each do |flight| %>
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.input flight.from_airport_id, as: :boolean, required: true %>
      </div>
        <div class="col-md-2">
          <div class="arrow">
            <p>&rarr;</p>
          </div>
        </div>
        <div class="col-md-2">
          <%= f.label flight.to_airport_id, required: true %>
        </div>
    </div>
  <% f.hidden_field :number_of_passengers, value: params[:flight_search][:passengers] %>
  <%= f.button :submit, 'Continue to Booking' %>
  <% end %>
<% end %>
  <% else %>
    <h1 class="title">
      No Flights Available <span> &#9785; </span>
    </h1>
<% end %>