<% if @available_flights.present? %>

<h1 class="subtitle">
  Results
</h1>

<%= simple_form_for(:booking, method: :get, url: new_booking_path) do |f| %>
  <% @available_flights.each do |flight| %>
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.input :flight_id, label: "#{flight.from_airport.airport_code.upcase}", as: :radio_buttons, collection: [flight.id], required: true %>
      </div>
        <div class="col-md-2">
          <div class="arrow">
            <p>&rarr;</p>
          </div>
        </div>
        <div class="col-md-2">
          <%= flight.to_airport.airport_code %>
        </div>
    </div>
  <%= f.hidden_field :passengers, value: params[:flight_search][:passengers] %>
  <%= f.button :submit, 'Continue to Booking' %>
  <% end %>
<% end %>
  <% else %>
    <h1 class="subtitle">
      No Flights Available <span> &#9785; </span>
    </h1>
<% end %>


