 <section class="section">
    <div class="container">
      <h1 class="title">
        Flights
      </h1>
      <p class="searchform">
    <%= simple_form_for @airports do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :airport_code %>
        <%= f.association :departing_flights %>
        <%= f.association :arriving_flights %>
        
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
      </p>
    </div>
  </section>

