<div class="container"> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Flight ID</th>
        <th>Flight Date</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @selected_booking.flight_id %> </td>
        <td> <%= @selected_booking.flight.flight_date %> </td>
        <td> <%= @selected_booking.flight.from_airport.airport_code %> </td>
        <td> <%= @selected_booking.flight.to_airport.airport_code %> </td>
      </tr>
    </tbody>
  </table>
</div>


 <%= form_for @passenger do |f| %>
    ...
    <% 3.times do %>
      <%= f.fields_for @passenger.shipping_address.build do |pass_form| %>
        ...
        Name: <%= pass_form.text_field :name %>
        Email: <%= pass_form.text_field :email %>
        ...
      <% end %>
    <% end %>
    <%= f.submit %>
  <% end %>