<div class="container"> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Flight ID</th>
        <th>Flight Date</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @selected_booking.flight_id %> </td>
        <td> <%= @selected_booking.flight.flight_date %> </td>
        <td> <%= @selected_booking.flight.from_airport.airport_code %> </td>
        <td> <%= @selected_booking.flight.to_airport.airport_code %> </td>
      </tr>
    </tbody>
  </table>
</div>

 <%= simple_form_for(@booking, url: booking_path(@booking, @flight)) do |f| %>

    <% params[:booking][:passengers].to_i.times do |x| %> <br>
      <%= f.fields_for :passengers do |p| %> <br>

        Name: <%= p.text_field :name %>
        Email: <%= p.text_field :email %> <br>

      <% end %>
    <% end %> <br>
  <%= f.submit %>
<% end %>