<div class="container"> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Flight ID</th>
        <th>Flight Date</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @selected_booking.flight_id %> </td>
        <td> <%= @selected_booking.flight.flight_date %> </td>
        <td> <%= @selected_booking.flight.from_airport.airport_code %> </td>
        <td> <%= @selected_booking.flight.to_airport.airport_code %> </td>
      </tr>
    </tbody>
  </table>
</div>


 <%= form_for @passenger do |f| %>

    <% params[:booking][:passengers].to_i.times do |pass_form| %> <br>
      <%= f.fields_for @passenger do |pass_form| %> <br>

        Name: <%= pass_form.text_field :name %>
        Email: <%= pass_form.text_field :email %> <br>

      <% end %>
    <% end %> <br>
    <%= f.submit %>
  <% end %>

