<!DOCTYPE html>
<html>
  <head>
  
    <title>FlightBooker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container"></div>
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to "Search Flights", root_path %>
      </div>
    </div>
  </div>
</nav>
    <!-- Wrap everything in bootstrap container -->
    <div class="container">

      <%= yield %>
    </div>
        <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %>
  </body>
</html>